body {
  font: 'Lucida Grande', Tahoma, sans-serif;
  background-color: #121314;
  color: #88898c;
}

.playlist {
  position: absolute;
  top:30px;
  width: 30%;
  height:100%;
  overflow:scroll;
}

.player {
  position: absolute;
  top:30px;
  left:450px;
  width: 650px;
  height: 40%;
}

.songs {
  position: absolute;
  top:435px;
  left:450px;
  width:650px;
  height: 50%;
  max-width:650px;
  overflow: scroll;
}

.songs-table {
  width:650px;
  max-width:650px;
}

.playlist-entry {
  margin: 10px;
  background-color: #1c1c1f;
  border-top: 0.25px solid rgb(128, 128, 128);
  border-bottom: 0.25px solid rgb(128, 128, 128);
  color: rgb(223, 224, 230);
  padding: 5px;
}

.playlist-entry:hover {
  background-color: rgb(34, 35, 38);
}

.song-entry {
  margin: 10px;
  background-color: rgb(18, 19, 20);
  border-top: 0.25px solid rgb(128, 128, 128);
  border-bottom: 0.25px solid rgb(128, 128, 128);
  color: rgb(223, 224, 230);
  position: relative;
  width: 650px;
  max-width: 650px;
}

.song-entry:hover {
  background-color: #1c1c1f;
}

.song, .artists, .album, .playlist-name {
  padding: 5px;
}

.song, .artists, .album {
  max-width: 217px;
}

.selected-track {
  background-color: #1c1c1f;
  color: #648f00;
}

.selected-playlist {
  background-color: rgb(34, 35, 38);
  color: #648f00;
}

#login, #loggedin {
  display: none;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 500px;
}

.video-player-details {
  padding: 8px;
  border: 0;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  margin-top: 10px;
}

#title {
  font-size: 20px;
  font-weight: bold;
  padding: 5px 0px;
}

.topbar {
  height:10%;
  width:1030px;
}

.logout {
  position: relative;
  float:right;
  padding-top: 5px;
  padding-bottom: 5px;
}